#top-nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  > .right {
    @media (min-width: $medium-min) {
      i.material-icons {
        float: left;
        margin-right: 10px;
        margin-top: 3px;
        margin-bottom: -10px;
      }
    }
  }
  img {
    max-height: 56px;
    margin-top: 4px;
  }
  a.promis-logo {
    position: relative;
    max-height: 64px;
    background-color: #446d6d;
    padding: 0 10px;
    user-select: none;

    &:hover {
      background-color: #629898;
    }
  }
  #left-menu-toggle {
    color: black;
    margin: 0;

    .text {
      min-width: 140px;
      transition: opacity ($base-duration/2);
    }
    .navbar-toggle {
      display: inline-block;
      padding: ($navbar-height-mobile / 2 - 7px) 10px 0;
      cursor: pointer;
      height: $navbar-height-mobile;

      @media (min-width: $medium-min) {
        height: $navbar-height;
        padding: ($navbar-height / 2 - 7px) 10px 0;
      }
      &:hover, &:focus {
        background-color: transparent;
      }
      .icon-bar { width: 26px; transition: all $base-duration; }
    }
    &.open, .open {
      .top-bar { transform: rotate(45deg) translate(3.5px, 5px); }
      .middle-bar { opacity: 0; }
      .bottom-bar { transform: rotate(-45deg) translate(3.5px, -5px); }
    }
    &.no-anim {
      .text, .icon-bar {
        transition: none;
      }
    }
  }

  @media (max-width: $small-max) {
    img {
      max-height: 48px;
      width: auto;
    }
    a.promis-logo {
      max-height: 56px;
    }
  }
}

#left-menu {
  font-size: 0;
  line-height: 0;

  > .no-horizontal-overflow {
    @extend .z-depth-3;
  }
  .sidenav {
    font-size: $base-font-size;
    line-height: 1.5;

    .mobile-top + ul > li:first-child > .subheader {
      margin-top: 0;
    }
  }

  &.no-anim, &.no-anim > .bg, &.no-anim > .overlay, &.no-anim .sidenav {
    transition: none;
  }

  i.material-icons {
    height: auto;
    line-height: 36px;
  }
  li {
    line-height: 20px;

    > .line {
      color: rgba(0, 0, 0, 0.87);
      display: block;
      font-size: 14px;
      font-weight: 600;
      height: auto;
      line-height: inherit;
      padding: 8px 16px;
      vertical-align: middle;

      > i.material-icons {
        margin-right: 10px;
        line-height: inherit;
        display: inline-block;
        float: none;
        vertical-align: middle;
      }
      .text {
        display: inline-block;
        vertical-align: middle;
        max-width: 220px;
      }
    }
  }
  .subheader {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    background-color: #ddd;
    margin: 5px 0 0;
  }

  .language-switch {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;

    li > a.line {
      font-size: 24px;
      padding: 16px;

      &:hover {
        background-color: darken($promis-blue, 10%) !important;
      }
      i {
        font-size: 30px;
        font-weight: bold;
      }
    }
  }

  @media (max-width: $medium-max) {
    .no-horizontal-overflow {
      box-shadow: none;
    }
    .mobile-top {
      @include clearblock;
      display: block;

      .promis-logo img {
        max-height: 100px;
        padding: 10px 7px;
      }
      .close-left-menu {
        padding: 10px 15px;
        height: auto;
        line-height: 0;
        font-size: 0;

        i {
          display: inline-block;
          font-size: 30px;
        }
      }
    }
  }
  @media (min-width: $large-min) {
    width: 0;
    transition: width $base-duration;
    z-index: 1;
    position: relative;

    .mobile-top {
      display: none;
    }
    > .no-horizontal-overflow {
      overflow-x: hidden;
      overflow-y: auto;
      background-color: white;
      position: fixed;
      width: 0;
      left: 0;
      top: $header-height-desktop;
      bottom: $footer-height;
      padding-bottom: 55px;
      z-index: -10;
      transition: width $base-duration;

      @media (max-width: $small-max) {
        top: $header-height-mobile;
      }
    }
    &.open, &.open > .no-horizontal-overflow {
      width: $left-menu-width;
    }

    .sidenav {
      z-index: 0;
      padding: 0;
      font-size: $base-font-size;
      line-height: 1.5;
      width: $left-menu-width;
      height: auto;
      transition: transform $base-duration;
      overflow-y: visible;
      box-shadow: none;
      transform: translateX(-100%);
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding-bottom: 56px;

      .mobile-top + ul > li:first-child > .subheader {
        margin-top: 0;
      }
    }
    &.open .sidenav {
      transform: translateX(0%);
    }

    &.no-anim, &.no-anim > .no-horizontal-overflow , &.no-anim .sidenav {
      transition: none;
    }

    .scroll-pane {
      max-height: 100%;
      overflow-y: auto;
    }

    i.material-icons {
      height: auto;
      line-height: 36px;
    }
  }
}
.sidenav-overlay {
  user-select: none;
}

body.env-dev #left-menu .no-horizontal-overflow {
  bottom: $footer-height + 36px;

  @media (max-width: $medium-max) {
    bottom: 36px;
  }
}

#main-content {
  padding-bottom: $footer-height + 60px;   /* Height of the footer */
  margin-left: 0;
  transition: margin-left $base-duration;

  .no-padding {
    padding-bottom: $footer-height ;
  }
}
#left-menu.no-anim + #main-content {
  transition: none;
}
@media (min-width: $large-min) {
  #left-menu.open + #main-content {
    margin-left: $left-menu-width;
  }
}

#footer {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;   /* Height of the footer */
  padding: 5px 10px 0;
  background: $promis-orange;
  background-image: linear-gradient(to top, $promis-orange, desaturate(darken(color("deep-orange", lighten-2), 12%), 30%));
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #940;
}
body.env-dev #footer {
  bottom: 36px;
}