@mixin clearblock() {
  &::before, &::after {
    display: block;
    content: "";
    clear: both;
  }
}

// certain variables need to be changed also in config.js


$small-max: 600px;
$medium-min: 601px;
$medium-max: 992px;
$large-min: 993px;
$large-max: 1200px;
$extra-large-min: 1201px;

$base-duration: 0.5s;
$base-font-size: 15px;
$base-text-color: #333;
$base-line-height: 1.5;

//$num-cols: 24;

$header-height-desktop: 64px;
$header-height-mobile: 56px;

$footer-height: 30px;

$navbar-height: 64px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: 56px !default;
$navbar-line-height-mobile: $navbar-height-mobile !default;
$navbar-font-size: 1rem !default;
$navbar-font-color: #fff !default;
$navbar-brand-font-size: 2.1rem !default;

$left-menu-width: 250px;

$promis-blue: #87E7E7;
$promis-orange: color("orange", lighten-1);

$promis-blue-map: (
    "base":       $promis-blue,
);
$promis-orange-map: (
    "base":       $promis-orange,
);

$colors: map-merge(($colors), ("promis-blue": $promis-blue-map));
$colors: map-merge(($colors), ("promis-orange": $promis-orange-map));