{% extends 'layout.html.twig' %}


{% block content %}
  <div class="container visible">
    <a href="{{ path('app_user_profile') }}" class="waves-effect waves-dark btn btn-flat right mt15">&lt; {{ "Zpět na správu účtů (bez uložení změn)"|trans }}</a>

    <h1 class="mt5">{{ "Změna přihlašovacího hesla"|trans }}</h1>

    <form name="ChangePassword" method="post">
      {{ form_widget(form) }}
    </form>
  </div>
{% endblock %}